.promo {
  background: no-repeat center/cover url(./../../assets/img/bg/bg-promo1.jpeg);
  padding: 167px 0 92px;
  text-align: center;
}

.promo__title {
  color: rgb(255, 255, 255);
  font-family: Gotham Pro;
  font-size: 128px;
  font-weight: 700;
  line-height: 122px;
}

.promo__desc {
  color: rgb(255, 255, 255);
  font-family: Gotham Pro;
  font-size: 37px;
  font-weight: 400;
  line-height: 136%;
}
