.promo {
  background: no-repeat bottom center/cover url(/img/bg/bg-promo1.jpeg);
  padding: 167px 0;
  text-align: center;
}

.promo__title {
  color: rgb(255, 255, 255);
  font-family: Gotham Pro;
  font-size: 64px;
  font-weight: 700;
  line-height: 122px;
}

.promo__desc {
  color: rgb(255, 255, 255);
  font-family: Gotham Pro;
  font-size: 24px;
  font-weight: 400;
  line-height: 136%;
}

.promo__btn {
  border: 3px solid rgb(53, 255, 97);
  border-radius: 12px;
  max-width: 268px;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 19px 0px rgba(53, 255, 97, 0.16);
  background: linear-gradient(
    180deg,
    rgb(53, 255, 110),
    rgb(53, 255, 97) 0.01%,
    rgba(53, 255, 97, 0.18) 100%
  );
  color: rgb(255, 255, 255);
  font-family: Gotham Pro;
  font-size: 24px;
  font-weight: 700;
  line-height: 136%;
  margin-top: 70px;
  margin: 72px auto 0;
}

.promo__btn:hover {
  background: linear-gradient(
    180deg,
    rgb(53, 255, 110),
    rgb(35, 218, 75) 0.01%,
    rgba(53, 255, 97, 0.18) 100%
  );
  border: 3px solid rgb(35, 218, 75);
}

/*** instructions ***/

.instructions {
  padding-bottom: 116px;
}

.instructions__wrapper {
  display: flex;
  gap: 21px;
  margin-top: 35px;
}

.instruction {
  border: 1px solid rgb(16, 23, 43);
  border-radius: 15px;
  background: rgb(3, 8, 21);
  padding: 24px;
  position: relative;
  overflow: hidden;
  transition: 0.2s all;
  cursor: default;
}

.instruction:hover {
  transform: scale(1.03);
}

.instruction__title {
  color: rgb(255, 255, 255);
  font-family: Gotham Pro;
  font-size: 24px;
  font-weight: 700;
  line-height: 23px;
  display: flex;
  align-items: center;
  gap: 14px;
}

.instruction__label {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  color: rgb(255, 255, 255);
  font-family: Gotham Pro;
  font-size: 19px;
  font-weight: 700;
  line-height: 19px;
}

.instruction__label-blue {
  background: linear-gradient(180deg, rgb(72, 178, 255), rgb(50, 99, 224) 100%);
}

.instruction__label-yellow {
  background: linear-gradient(180deg, rgb(255, 237, 72), rgb(224, 92, 50) 100%);
}

.instruction__label-green {
  background: linear-gradient(180deg, rgb(72, 255, 145), rgb(50, 224, 78) 100%);
}

.instruction__desc {
  color: rgb(202, 203, 217);
  font-family: Gotham Pro;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 5%;
  margin-top: 14px;
  max-width: 56%;
  position: relative;
  z-index: 3;
}

.instruction__img {
  position: absolute;
  right: -58px;
  bottom: -58px;
  z-index: 2;
}

.instruction__img-light {
  position: absolute;
  right: -350px;
  bottom: -350px;
  z-index: 1;
}

/*** presents ***/

.presents {
  padding-bottom: 35px;
}

.presents__wrapper {
  border: 1px solid rgb(16, 23, 43);
  border-radius: 15px;
  background: rgb(3, 8, 21);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 55px 92px;
  margin-top: 35px;
  position: relative;
  overflow: hidden;
}

.present {
  position: relative;
  z-index: 1;
}

.present__img-a1 {
  /* transform: perspective(400px) rotate3d(1, -1, 0, 8deg); */
  /* transition: 0.4s; */
  animation-name: present1;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.present__img-a2 {
  transform: perspective(400px) rotate3d(1, -1, 0, 8deg);
  transition: 0.4s;
}

/* .present-a1:hover .present__img-a1 {
  transform: perspective(400px) rotate3d(1, -1, 0, 0deg);
} */

.present-a2:hover .present__img-a2 {
  transform: perspective(400px) rotate3d(1, -1, 0, 0deg);
}

.present__btn {
  border-radius: 10px;
  background: linear-gradient(180deg, rgb(0, 148, 255), rgb(26, 65, 140) 100%);
  width: 149px;
  height: 45px;
  border: none;
  color: rgb(255, 255, 255);
  font-family: Gotham Pro;
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 44px auto 0;
}

.present__btn:hover {
  background: linear-gradient(180deg, rgb(0, 148, 255), rgb(0, 148, 255) 100%);
}

.presents-light {
  position: absolute;
}

.presents-blue {
  top: -533px;
  left: 0;
}

.presents-red {
  bottom: -533px;
  right: 0;
}
