.promo {
  background: no-repeat center/cover url(/img/bg/bg-promo1.jpeg);
  padding: 167px 0 92px;
  text-align: center;
}

.promo__title {
  color: rgb(255, 255, 255);
  font-family: Gotham Pro;
  font-size: 128px;
  font-weight: 700;
  line-height: 122px;
}

.promo__desc {
  color: rgb(255, 255, 255);
  font-family: Gotham Pro;
  font-size: 37px;
  font-weight: 400;
  line-height: 136%;
}

.promo__btn {
  border: 3px solid rgb(53, 255, 97);
  border-radius: 12px;
  max-width: 268px;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 19px 0px rgba(53, 255, 97, 0.16);
  background: linear-gradient(
    180deg,
    rgb(53, 255, 110),
    rgb(53, 255, 97) 0.01%,
    rgba(53, 255, 97, 0.18) 100%
  );
  color: rgb(255, 255, 255);
  font-family: Gotham Pro;
  font-size: 26px;
  font-weight: 700;
  line-height: 136%;
  margin-top: 70px;
  margin: 0 auto;
}
