.support {
  padding: 35px 0;
}

.support__head {
  display: flex;
  border-radius: 15px;
  justify-content: space-between;
  background: rgb(5, 9, 20);
  padding: 32px 35px;
}

.support__box {
  display: flex;
  gap: 30px;
  align-items: center;
}

.support__title {
  color: rgb(255, 255, 255);
  font-family: Gotham Pro;
  font-size: 50px;
  font-weight: 400;
  line-height: 48px;
}

.support__desc {
  color: rgb(207, 209, 221);
  font-family: Gotham Pro;
  font-size: 20px;
  font-weight: 400;
  line-height: 19px;
}

.support__btn {
  color: rgb(255, 255, 255);
  font-family: Gotham Pro;
  font-size: 25px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 15px;
  background: linear-gradient(180deg, rgb(255, 41, 41), rgb(255, 41, 41) 0.01%, rgb(176, 21, 21) 100%);
  border: none;
  height: 60px;
  max-width: 360px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: 0.2s all;
}

.support__btn span::before {
  font-size: 28px;
}

.support__btn:hover {
  background: linear-gradient(180deg, rgb(176, 21, 21), rgb(176, 21, 21) 0.01%, rgb(176, 21, 21) 100%);
}
