@import "./../styles/font-icon.css";
@import "./../styles/support.css";
@import "./../styles/main.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

.main {
  background: rgb(6, 12, 27);
  min-height: 100vh;
}
