.present {
  position: relative;
  z-index: 1;
}

.present__img-a1 {
  animation-name: present1;
  animation-duration: 13s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.present__img-a2 {
  animation-name: present1;
  animation-duration: 14s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.present__img-a3 {
  animation-name: present1;
  animation-duration: 11s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.present__btn-a {
  animation-name: present-btn;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
}

.present__btn {
  border-radius: 10px;
  background: linear-gradient(180deg, rgb(0, 148, 255), rgb(26, 65, 140) 100%);
  width: 149px;
  height: 45px;
  border: none;
  color: rgb(255, 255, 255);
  font-family: Gotham Pro;
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 44px auto 0;
}

.present__btn:hover {
  background: linear-gradient(180deg, rgb(0, 148, 255), rgb(0, 148, 255) 100%);
}
