.duel {
  border-radius: 16.58px;
  background: rgb(14, 21, 40);
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.duel:not(:first-child) {
  margin-top: 10px;
}

.duel__profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.duel__info {
  display: flex;
  gap: 40px;
  align-items: center;
}

.duel__value {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
}

.duel__label {
  color: rgb(107, 127, 157);
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  margin-bottom: 5px;
}

.duel__img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  overflow: hidden;
}

.duel__img img {
  width: 100%;
  height: 100%;
}

.duel__map {
  height: 40px;
}

.duel__map img {
  width: 100%;
  height: 100%;
}

.duel__btn button {
  border-radius: 12px;
  width: 100%;
  max-width: 260px;
  background: linear-gradient(180deg, rgb(0, 254, 137), rgb(17, 101, 62) 100%);
  color: rgb(255, 255, 255);
  font-size: 20px;
  height: 48px;
  padding: 0 20px;
  border: none;
  font-weight: 400;
  line-height: 24px;
}

.duel__btn button:hover {
  background: linear-gradient(180deg, rgb(17, 101, 62), rgb(17, 101, 62) 100%);
}

@media screen and (max-width: 1400px) {
  .duel__img {
    width: 40px;
    height: 40px;
  }
  .duel__map {
    height: 35px;
  }
  .duel__value {
    font-size: 18px;
  }
  .duel__label {
    font-style: 12px;
  }
}

@media screen and (max-width: 992px) {
  .duel {
    align-items: flex-start;
    gap: 30px;
  }

  .duel__info {
    flex-wrap: wrap;
    gap: 20px;
  }

  .duel__btn {
    width: 100%;
  }

  .duel__btn button {
    max-width: 100%;
  }
}
