.duels__button {
  border-radius: 12px;
  height: 48px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  border: none;
  width: 100%;
  max-width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.duels__button--blue {
  background: linear-gradient(180deg, rgb(255, 72, 72), rgb(41, 152, 255) 0.01%, rgb(17, 78, 135) 100%);
}

.duels__button--blue:hover {
  background: linear-gradient(180deg, rgb(255, 72, 72), rgb(17, 78, 135) 0.01%, rgb(17, 78, 135) 100%);
}

.duels__button--green {
  background: linear-gradient(180deg, rgb(41, 255, 101), rgb(17, 130, 69) 100%);
  margin-top: 15px;
}

.duels__button span {
  font-size: 25px;
}

.duels__button--green:hover {
  background: linear-gradient(180deg, rgb(17, 130, 69), rgb(17, 130, 69) 100%);
}

.duels__button--dark {
  background: linear-gradient(180deg, rgb(36, 45, 54), rgb(18, 23, 27) 100%);
  margin-top: 15px;
}

.duels__button--dark:hover {
  background: linear-gradient(180deg, rgb(18, 23, 27), rgb(18, 23, 27) 100%);
}

@media screen and (max-width: 1400px) {
  .duels__button {
    max-width: 250px;
  }

  .duels__button {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .duels__button {
    max-width: 220px;
  }
}

@media screen and (max-width: 576px) {
  .duels__button {
    width: 100%;
    max-width: 100%;
  }
}
